@import "variables";


.app-landing {
    width: 100%;
    padding: 70px 0 50px;
    line-height: 1.4;
    color: $mobAppPrimaryText;
    font-size: 20px;

    @media screen and (max-width: 1500px) {
        font-size: 1.34vw;
    }

    &__banner {
        padding: 2.5em 0 3.5em 7.5em;
        margin-bottom: 3.5em;
        position: relative;

        h1 {
            width: 60%;
            font-size: 4.8em;
            font-weight: 800;
            line-height: 1;
            margin: 0;
        }
    }
    &__banner-inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 17em;
        min-height: 28.5em;

        & > * {
            width: 100%;
        }
    }
    &__banner-text {
        font-size: 1.05em;
        font-weight: 500;
        text-align: center;
        margin-bottom: 1.67em;
    }
    &__banner-images {
        position: absolute;
        right: 2.5em;
        bottom: 0;
        width: 35em;
        height: 45em;

        img {
            display: block;
            position: absolute;
            bottom: 0;
            right: 0;
            height: 37em;
            width: 29em;
            z-index: 3;
        }
        .app-landing {
            &__blur {
                z-index: 0;
                top: 6em;
                left: 0;
            }
            &__bubble {
                &--orange {
                    z-index: 2;
                    height: 38em;
                    width: 18em;
                    border-radius: 9em;
                    top: 3em;
                    left: 9em;
                    transform: rotate(50deg);
                }
                &--violet {
                    z-index: 1;
                    top: 14em;
                    left: 9em;
                    transform: rotate(-45deg);
                }
            }
            &__circle {
                &--small {
                    z-index: 4;
                    top: 34em;
                    left: 24.35em;
                }
                &--medium {
                    z-index: 4;
                    top: 14em;
                    left: 1.5em;
                }
                &--large {
                    z-index: 4;
                    top: 28.5em;
                    left: 35.5em;
                }
            }
        }
    }
    &__slider {
        position: relative;
    }
    &__slider-figure-left {
        position: absolute;
        top: 5em;
        right: calc(50% + 23em);
        height: 45em;
        width: 45em;
        border-radius: 22.5em 22.5em 0 22.5em;
        background: $mobAppViolet;
        transform: rotate(45deg);
    }
    &__slider-figure-right {
        position: absolute;
        bottom: -3.75em;
        left: calc(50% + 38em);
        height: 57em;
        width: 26em;
        border-radius: 13em;
        background: $mobAppOrange;
        transform: rotate(45deg);
    }
}