$accentMain: #0E9561;
$accentSecondary: #C22D78;

$theme_1: #E2E8EE;
$theme_2: #F0F3F8;
$theme_3: #0D1D34;
$theme_4: #3D4A5D;
$theme_5: #1A3769;
$theme_6: #3E4049;
$theme_7: #6F7B8D;
$theme_8: #E3EFFA;

$bodyBg: #E5E8ED;
$bodyLoadingBg: #E5E8ED;
$headerText: #ffffff;
$headerBg: #21354a;
$borderRadius: 6px;

$white: #ffffff;
$baseColor: #e96e32;
$baseColor2: #3c3f44;
$baseColor3: #9e2b86;
$textDark: #414141;

$mainColor: #072443;
$menuTitle: #fff;
$menuSectionBorder: #c3ccd9;
$black: #000000;
$success: #0FA810;
$error: #f04c44;
$contactsMobAnchor: $success;
$searchGray: #7F8B94;
$yellow: #F6C744;

$mobAppPrimaryText: #23262F;
$mobAppSecondaryText: #616571;
$mobAppBodyBg: #EFF2FA;
$mobAppOrange: #FF4200;
$mobAppViolet: #8F00FF;
