:root {
    --sliderBottomControlBg: #{$accentMain};
    --sliderBottomControlBorder: #{$accentMain};
    --sliderBottomControlBgHover: #{$accentSecondary};
    --sliderBottomControlBorderHover: #{$accentSecondary};
}
