:root {
    --sliderBottomControlBg: #{$accentMain};
    --sliderBottomControlBorder: #{$accentMain};
    --sliderBottomControlBgHover: #{$accentSecondary};
    --sliderBottomControlBorderHover: #{$accentSecondary};
    --sliderSideControl: #{$theme_5};
    --sliderSideControlHover: #{$theme_3};
}
