@import "../../../../../assets/styles/variables";


.app-land-slider {
    position: relative;
    z-index: 2;
    border-radius: 2em;
    overflow: hidden;
    background: rgba($white, .7);
    backdrop-filter: blur(15px);

    &__inner {
        position: relative;
        z-index: 2;
        padding: 4.5em 0 5em 7em;

        &:before {
            content: '';
            display: block;
            height: 20em;
            width: 20em;
            border-radius: 50%;
            background: #EFF2FA;
            position: absolute;
            bottom: 6em;
            right: 8em;
        }
    }
    &__slide-text {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 6em;
        width: 26em;

        span {
            font-size: .8em;
        }
    }
    &__controls {
        width: 17.5em;
    }
    &__control {
        width: 100%;
        background: $white;
        padding: .1em;
        position: relative;
        border-radius: .8em;
        box-shadow: 0 0 .8em rgba($mobAppPrimaryText, .1);
        user-select: none;

        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            background: linear-gradient(94deg, #FF6E3C, #FF4200 92%);
            opacity: 0;
            transition: opacity .2s ease;
            border-radius: .775em;
        }
        &--active {
            &:after {
                opacity: 1;
            }
            .app-land-slider {
                &__control-inner {
                    background-color: rgba($white, 0);
                    color: $white;
                }
                &__control-icon {
                    color: $white;
                }
            }
        }
        &:not(.app-land-slider__control--active) {
            &:hover {
                cursor: pointer;

                &:after {
                    opacity: 1;
                }
                .app-land-slider {
                    &__control-icon {
                        color: $mobAppOrange;
                    }
                }
            }
        }
        & + & {
            margin-top: .8em;
        }
    }
    &__control-inner {
        position: relative;
        z-index: 2;
        padding: .6em 0;
        border-radius: .7em;
        min-height: 3em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $mobAppPrimaryText;
        background-color: rgba($white, 1);
        transition: background-color .2s ease, color .2s ease;
    }
    &__control-icon {
        display: flex;
        justify-content: center;
        color: $mobAppPrimaryText;
        width: 2.5em;
        font-size: 1em;
        transition: color .2s ease;
    }
    &__control-title {
        width: calc(100% - 3.25em);
        font-weight: 600;

        span {
            font-size: 1.05em;
        }
    }
}
