$accentMain: #e96e32;
$accentSecondary: #9e2b86;

$theme_1: #E2E8EE;
$theme_2: #F0F3F8;
$theme_3: #0D1D34;
$theme_4: #3D4A5D;
$theme_5: #1A3769;
$theme_6: #3E4049;
$theme_7: #6F7B8D;
$theme_8: #E3EFFA;

$bodyBackgroundColor: #E5E8ED;
$bodyBackgroundLoading: #292929;
$headerBackground: #3c3f44;
$headerBackgroundBottom: #282b30;
$mainBlack: $headerBackground;
$baseBorderRadius: 3px;

$white: #ffffff;
$baseColor: #e96e32;
$baseColor2: #3c3f44;
$baseColor3: #9e2b86;
$textDark: #414141;

$mobAppPrimaryText: #23262F;
$mobAppSecondaryText: #616571;
$mobAppBodyBg: #EFF2FA;
$mobAppOrange: #FF4200;
$mobAppViolet: #8F00FF;
